.container {
    background-color: rgb(51, 157, 195);
    border-radius: 14px;
    padding: 14px;
    color: rgb(255, 255, 255);
    line-height: 2rem;
}

.name {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 10px;
}